{:kotoba.app/id "cloud.itonami.isic-8620", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreia2hn2x4uios3mo6eu6hajblkanwlypgcp2wvzrkil4dj26mmsshe", :kotoba.app/embed-url "ipfs://bafkreia2hn2x4uios3mo6eu6hajblkanwlypgcp2wvzrkil4dj26mmsshe", :published {:archive "https://kotobase.net/ipfs/bafkreia2hn2x4uios3mo6eu6hajblkanwlypgcp2wvzrkil4dj26mmsshe", :size 74483, :put-status 201, :get-status 200, :at "2026-08-15T13:32:33.366Z"}}
